.wrapper {
    height: 815px;
    min-height: 500px;
    width: 100%;
    background: #292929;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}


.covid-header {
    position: relative;
    height: 100px;
    min-height: 100px;
    width: 100%;
    background: #292929;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
}